/my_django/first_project/db.sqlite3
/my_django/ProTwo/db.sqlite3
/my_django/level_3/basicforms/db.sqlite3
/my_django/level4/learning_templates/db.sqlite3
/my_django/level5/learning_users/db.sqlite3
/my_django/mysite/db.sqlite3
