h1{
  text-align: center;
  font-family: 'Anton', sans-serif;
}

.art{
  margin: auto;
}

td{
  height: 300px;
  width: 150px;
}

#one{
  background-color: #DAD2D8;
}

#two{
  background-color: #325FA2;
}

#three{
  background-color: #143642;
}

#four{
  background-color: #EC9A29;
}

#five{
  background-color: #A8201A;
}
